<div class='container'>
  <h1>{{# link-to "products" }}Pirate's Booty{{/ link-to }}</h1>
  <p class='lead'>Snack up me hearties, yo ho.</p>
  <p>{{# link-to "cart" }}My Cart{{/ link-to }}</p>
  <hr>
  {{outlet}}
  <br><br>
  
  <div class='text-muted'><small>I totally know what I'm doing.</small></div>
</div>
