<ul class='list-unstyled'>

  {{# each items }}
    <li>
      <strong>{{this.product.name}}</strong><br>
      <em>${{to_dollars this.current_price}} x {{this.quantity}}</em><br>
      <div class="btn-group btn-group-xs">
        <a href="#" class="btn btn-default">+</a>
        <a href="#" class="btn btn-default">-</a>
      </div>
    </li><br>
  {{ else }}
    Your cart is emptier than a black hole.
  {{/ each }}

  <strong>Subtotal:</strong><br>
  FUCK YOU
</ul>