<ul class='list-unstyled'>

  {{# each items }}
    <li>
      <strong>{{this.product.name}}</strong><br>
      <em>${{to_dollars this.current_price}} x {{this.quantity}}</em>
    </li><br>
  {{ else }}
    Your cart is emptier than a black hole.
  {{/ each }}

  <strong>Subtotal:</strong><br>
  FUCK YOU
</ul>