<h3>Edit Products</h3><br>
<ul class='list-unstyled'>
  {{# each }}
    <li>
      {{# link-to "editProduct" this }}
        <img {{ bind-attr src=image }} height="50" width="50" class="avatar"s>
        {{ name }}
      {{/ link-to }}
      (${{ to_dollars price }})<br>
    </li><br>
  {{/ each }}
</ul>
