<br>
<ul class='list-unstyled'>
  {{# each }}
    <li>
      {{# link-to "confirmation" this }}Order #{{ id }}{{/ link-to}}<br>
      Name: {{ name }}<br>
      Total: ${{ to_dollars cart.total }}<br>
      Status: {{ status }}
    </li><br>
  {{/ each }}
</ul>